.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #2196F3;
  text-align: center;
}


.button__container{
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  justify-content:right
}